[leon]
# ==============================================================
# LEON SERVER SETTINGS
# ==============================================================

# port to listen on. Note that the corresponding PostgreSQL
# variable, bao_port, must be set to match.
Port = 9999

# network address to listen on. If not localhost, don't forget
# to set the PostgreSQL bao_host variable.
ListenOn = localhost

# ==============================================================
# EXPLORATION MODE SETTINGS
# ==============================================================

# maximum time a query should reasonably take (used in
# exploration mode).
MaxQueryTimeSeconds = 120

# psycopg2 / JDBC connection string to access PostgreSQL
# (used by the experiment runner to prevent regressions)
PostgreSQLConnectString = user=wyz

ray_path = /data1/wyz/online/LEONForPostgres

leon_timeout = 100000
# 执行 percent 比例的 plan
pct = 0.1

MinEqNum = 50
MaxEqSets = 75
workload_type = job
wandb_project = leon
remote = True
model_type = TreeConv


[PostgreSQL]
database = imdbload
user = wyz
password = 
host = localhost
port = 1120
LOCAL_DSN = ""
REMOTE_DSN = ""